<section>
  <h1 class="title"> Todo TASK </h1>
  <div>
    <input type="text" placeholder="write a new task">
    <button> + </button>
  </div>

  <div class="fitlers">
    <button>Todas</button>
    <button>Activar</button>
    <button>Completas</button>
  </div>

  <ul class="todoList">
    <!-- Ya editada -->
    <li class="todo">
      <input type="checkbox" >
      <label> titulo de tarea </label>
      <button>editar</button>
      <button>eliminar</button>
    </li>

    <!-- Editando -->
    <li class="todo-editing">
      <input type="text" placeholder="editar tarea">
    </li>
    
  </ul>
</section>
